DOCKER_IMAGE=your-dockerhub-username/sieuthidienmay-web:latest
DEFAULT_CONNECTION=Server=<host>,1433;Database=Web_dienmay;User Id=sa;Password=<password>;TrustServerCertificate=True;Encrypt=False;MultipleActiveResultSets=true
